//SCSS Mixin for M3 themes, takes the angular material color pallet and loads
//global CSS vars for M3 components to use
@mixin component-theme($primary,$accent,$warn) {
  * {
    --m3-component-primary: #{map-get($primary, 500)};
    --m3-component-accent: #{map-get($accent, 500)};
    --m3-component-warn: #{map-get($warn, 500)};
    --m3-component-primary-contrast: #{map-get($primary, contrast, 500)};
    --m3-component-accent-contrast: #{map-get($accent, contrast, 500)};
    --m3-component-warn-contrast: #{map-get($warn, contrast, 500)};
  
    --m3-component-primary-50: #{map-get($primary, 50)};
    --m3-component-accent-50: #{map-get($accent, 50)};
    --m3-component-warn-50: #{map-get($warn, 50)};
    --m3-component-primary-contrast-50: #{map-get($primary, contrast, 50)};
    --m3-component-accent-contrast-50: #{map-get($accent, contrast, 50)};
    --m3-component-warn-contrast-50: #{map-get($warn, contrast, 50)};
  }
  
  //used for Cres-Com-Wrapper cres-fb to allow themed colors
  .m3-global-primary-bg {
    background-color: var(--m3-component-primary);
  }
  .m3-global-accent-bg {
    background-color: var(--m3-component-accent);
  }
  .m3-global-warn-bg {
    background-color: var(--m3-component-warn);
  }
}